.dialog {
  padding: 0;
  border-color: transparent;
  border-radius: (--spacing-04);
}

dialog::backdrop {
    background: var(--ui-01);
    backdrop-filter: blur(3px);
  }

.closeDialog {
    position: absolute;
    top: var(--spacing-03);
    right: var(--spacing-03);
}

.dialogContent {
    padding: var(--spacing-04);
}