.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: var(--spacing-07);
}

.cardPlate {
    width: 500px;
    height: 300px;
    background-color: var(--accent-3);
    border-radius: var(--border-radius-card);
  }
.cardShadow {
    box-shadow: 20px 20px 40px #888888;
}

.flexItem {
    flex-direction: row;
    align-items: flex-start;
}
.textTop {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-name);
    color: var(--ui-02);
    margin-left: 380px;
    margin-top: var(--spacing-05);
  }
  
.cardNumber {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-number);
    color: var(--ui-02);
    margin-left: var(--spacing-05);
    margin-top: 100px;
    margin-bottom: 0;
}
.cardHolder {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-holder);
    color: var(--ui-02);
    margin-left: var(--spacing-05);
    margin-top: 0;
}
  