.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.cardPlate {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--border-radius-card);
    background-color: var(--accent-3);
    background-image: linear-gradient(to bottom right, var(--accent-1), var(--accent-2));
  }
.cardShadow {
    box-shadow: 20px 20px 40px #888888;
}

.flexItem {
    flex-direction: row;
    align-items: flex-start;
}
.textTop {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-name);
    color: var(--ui-02);
    margin-left: var(--spacing-07);
    margin-top: var(--spacing-05);
  }
  
.cardNumber {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-number);
    color: var(--ui-02);
    margin-left: var(--spacing-07);
    margin-top: var(--card-top);
    margin-bottom: 0;
}
.cardHolder {
    font-weight: var(--font-weight-card);
    font-size: var(--font-size-card-holder);
    color: var(--ui-02);
    margin-left: var(--spacing-07);
    margin-top: 0;
}
  