.appLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background: var(--ui-01);
}

.dialogLayout{
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    padding: 1em;
}